.resources__logo  {
  width: 270px;
  height: 38px;
  background: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 1s linear;
}

.resources__logo:hover {
  opacity: .5;
}
